@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 100% 99%;
    --color-secondary: 0 0% 14%;
    --color-accent: 183 100% 35%;
  }
}

@layer utilities {
  .title-hero {
    @apply text-8xl font-bold;
  }
  .desc-hero {
    @apply text-xl font-light;
  }
  .body-small {
    @apply text-sm;
  }
  .body-base {
    @apply text-base;
  }
  .subtitle {
    @apply text-3xl font-medium;
  }
  .heading {
    @apply font-semibold text-2xl;
  }
}
