@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 100% 99%;
    --color-secondary: 0 0% 14%;
    --color-accent: 183 100% 35%;
  }
}

@layer utilities {
  .title-hero {
    @apply text-5xl md:text-8xl font-bold;
  }
  .desc-hero {
    @apply text-sm md:text-xl font-light;
  }
  .body-small {
    @apply text-sm;
  }
  .body-base {
    @apply text-base;
  }
  .subtitle {
    @apply text-3xl md:text-5xl font-bold;
  }
  .heading {
    @apply font-semibold text-2xl;
  }
}
